@import 'reset';
@import 'typography';
@import 'colors';
@import 'mixins';
// @import 'layout';
// @import 'variables';

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $font-family-radio;
}

p {
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $font-weight-normal;
  line-height: 1.15;
  margin: 0;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-lg;
}

h4 {
  font-size: $font-size-md;
}

h5 {
  font-size: $font-size-sm-md;
}